@import "../../constants/colors.scss";
.user-show {
    background-color: white;
    height: 100%;
    margin: 1em;
}

.subnav {
    display: flex;
    justify-content: space-between;
    background: #002A3E;
    padding: 0 .5em;
    margin: none;
    button {
        color: $text;
        background: inherit;
        border: none;
        font-family: "Futura" sans-serif;
        font-size: 1em;
        padding: 1em;
        transition: all 0.3s ease 0s;
    }
}

@media (min-width: 800px) {
    .user-show {
        display: flex;
    }
    
    .subnav {
        justify-content: unset;
        flex-direction: column;
        button {
            margin-top: 1em;
        }
    }
}