@import "../../constants/colors.scss";

.canvas-list {
    overflow: auto;
    background: $main-offset;
    padding: 1em;
    ul {
        display: grid;
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        li {
            margin: 1em;
        }
    }
}