@import "../../constants/colors.scss";

.canvas-container {
    padding: 1em;
    .tools {
        background-color: $text;
        color: black;
        height: 100%;
    }

    .songs {
        background: $main-lighter;
    }

    .curved {
        border-radius: .25em;
        box-shadow: 0px 10px 10px rbga(0,0,0,.3);
    }
}

@media (min-width: 700px) {
    .canvas-container {
        display: grid;
        grid-template-areas: 
            "tools canvas canvas"
            "tools canvas canvas"
            "tools songs songs";
        grid-template-rows: 1fr 1fr .5fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .75em;
        height: 90%;
    
        .tools {
            grid-area: tools;
        }
    
        .songs {
            grid-area: songs;
        }
    
        .canvas {
            grid-area: canvas;
        }
    }
}