.toggle-btn {
    padding: 8px 25px;
    margin: 10px;
    background-color: rgb(25, 64, 131);
    border: none;
    border-radius: 50px;
    position: absolute;
  }

  .upload-btn {
    display: none;
  }

.canvas {

}

.play-btn {
  width: 4em;
  background: none;
  border: none;
  cursor: pointer;
}