.toggle-btn {
    padding: 8px 25px;
    margin: 10px;
    background-color: rgb(25, 64, 131);
    border: none;
    border-radius: 50px;
  }

  .canvas-show {
    height: 100%;
    width: 100%;
    padding: 30px;
  }