.shape {
    .dropdown-btn {
        background: none;
        border: none;
    }

    .rotate {
        svg {
            transform: rotate(90deg);
        }
    }
    svg {
        width: .75em;
    }
    span {
        text-transform: capitalize;
    }
    .tool {
        width: 100%;
        max-width: 300px;
        ul {
            display: flex;
            list-style: none;
            flex-direction: column;
            li {
                margin-bottom: 1em;
            }
            .toolbox {
                display: flex;
                flex-direction: row;
                div {
                    width: 100%;
                }
            }
        }
    }
}
