.shape {
    .tool-header {
        display: flex;
        justify-content: space-between;
        button {
            padding: .2em .5em;
        }
    }

    .dropdown-btn {
        background: none;
        border: none;
        padding: .5em 0;
        cursor: pointer;
        margin: 1em 0;
    }

    svg {
        width: .75em;
        transition: transform 300ms ease-in-out;
    }

    .rotate {
        transform: rotate(90deg);
    }

    span {
        text-transform: capitalize;
    }

    .tool {
        width: 100%;
        animation: fadeIn 300ms ease-in-out;
        ul {
            display: flex;
            list-style: none;
            flex-direction: column;
            li {
                margin-bottom: 1em;
            }
            .toolbox {
                display: flex;
                flex-direction: row;
                div {
                    width: 100%;
                }
            }
        }
    }

}
