@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #091833;
  
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-top: 12px;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #133e7c
}

.nav-links button {
  padding: 8px 25px;
  background-color: rgba(234,0,217,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin: 0;
}

.App {
  text-align: center;
}

.banner-img {
  background-image: url('dance-floor.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.canvas-show {
  /* background-color: black; */
  height: 100%;
  width: 100%;
  padding: 30px;
}

.canvas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 625px;
} 

.canvas {
  width: 600px;
  text-align: center;
}

.tools-container {
  height: 625px;
  overflow: scroll;
}

.tool {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}

.toolbox1, .toolbox2, .toolbox3, .toolbox4 {
  height: 150px;
  padding: 10px;
}

.toolbox4 {
  display: flex;
}