@import "./constants/colors.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: $main-color;
  color: white;
  font-family: "Futura", sans-serif;
}

a {
  text-decoration: none;
}

.seen {
  display: none;
}