@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.toggle-btn {
  padding: 8px 25px;
  margin: 10px;
  background-color: rgb(25, 64, 131);
  border: none;
  border-radius: 50px;
  color: white;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin: 0;
}

.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('dance-floor.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vw;
}

.banner-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 55%;
  padding: 40px 0;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  border: 10px inset #fff;
}

.about-container {
    background: rgb(40, 88, 129);
    text-align: center;
    padding: 1em 2em;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.about-card {
  height: 100%;
  width: 855px;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
}

.left {
  grid-column: 1 / 2;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.right {
  grid-column: 2 / 3;
  padding: 4em 0 0;
  background: rgba(6, 20, 30);
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.text {
    flex: 7;
    margin: 2em;
}

.text h1 {
    margin: 1em 0;
}

h3 {
  font-size: 2em;
}

.text p {
    line-height: 1.7rem;
}

.links {
    flex: auto;
    display: flex;
}

.links button {
    flex: 1;
    color: white;
    background-color: #ff0546;
    border: none ;
}

.user-show {
  padding: 20px;
  background: rgb(19, 20, 23);
  color: white;
  height: 100%;
}

.canvas-show {
  height: 100%;
  width: 100%;
  padding: 30px;
}

.canvas-header {
  text-align: center;
}

.canvas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 625px;
} 

.canvas {
  width: 600px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0px 50px 100px 0px rgba(9,24,50, 0.25);
}
