.tools-selector {
  display: flex;
  justify-content: space-evenly;
  position: relative;

  button {
    border: none;
    padding: .5em 1em;
  }
}
.tools-container {
  height: 90%;
  overflow-y: auto;
  padding: 1em;
}