.tools-selector {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -.5em;

  button {
    border: none;
    padding: .5em 1em;
  }
}
.tools-container {
    overflow-y: auto;
  }
  
  .tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
  }

  .canvas-settings {
    padding: 15px;
  }
