@import "../../constants/colors.scss";

.canvases-container {
    padding: 1em;
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        flex-wrap: wrap;
        h1 {
            margin-right: 2em;
        }
    }
    span {
        color: red;
    }

    #form {
        width: 50%;
        margin-bottom: 2em;
    }
}
